
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#avatar_img {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:80px;
  height:80px;
  display: inline-block;
}

/*loading process*/
#loading_process
{
  display : none;
}
#loading_process.show
{
  display : block;
  position : fixed;
  z-index: 10000;
  background-image : url('../images/3.gif');
  background-color:#666;
  opacity : 0.4;
  background-repeat : no-repeat;
  background-position : center;
  left : 0;
  bottom : 0;
  right : 0;
  top : 0;
}
#loadinggif.show
{
  left : 50%;
  top : 50%;
  position : absolute;
  z-index : 10001;
  width : 32px;
  height : 32px;
  margin-left : -16px;
  margin-top : -16px;
}
/* end loading process*/

#start-date, #end-date {
  width: 150px;
  display: inline-block;
}

.margin-top-50 {
  margin-top: 50px;
}